// MIXINS

//------ headers -----------//
@mixin h1style {
    color: white;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;

    font: {
        size: $h1size;
        weight: 300;
    }
}

@mixin h2style {
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;

    font: {
        size: $h2size;
        weight: 300;
    }

    &:after {
        display: block;
        height: 2px;
        background-color: #e67e22;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@mixin h3style {
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;

    font: {
        size: $h3size;
        weight: 400;
    }

}

@mixin btn {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 10px 30px;
    border: 1px solid $orange;
    border-radius: 200px;
}

@mixin navlinks {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s;

    &:hover {
        border-bottom: 2px solid $orange;
    }
}