.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #fff;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-text-box {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-text-box h1 {
  color: white;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-transform: uppercase;
  font-size: 250%;
  font-weight: 300;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 10px 30px;
  border: 1px solid #e67e22;
  border-radius: 200px;
}

.btn-full {
  background-color: #e67e22;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  margin-right: 15px;
}

.btn-full:hover {
  background-color: #cf6d17;
}

.btn-ghost {
  color: #e67e22;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.btn-ghost:hover {
  background-color: #cf6d17;
  color: #fff;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.row .logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.row .main-nav {
  list-style: none;
  margin-top: 55px;
  float: right;
}

.row .main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.row .main-nav li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}

.row .main-nav li a:hover {
  border-bottom: 2px solid #e67e22;
}

.section-features {
  padding: 80px 0;
}

.section-features h2 {
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 180%;
  font-weight: 300;
}

.section-features h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.section-features .icon-big {
  font-size: 330%;
  display: block;
  color: #e67e22;
  margin-bottom: 20px;
  text-align: center;
}

.section-features h3 {
  letter-spacing: 1px;
  word-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 110%;
  font-weight: 300;
}

.section-features .long-copy {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 35px;
  line-height: 145%;
}

.section-features .box {
  text-align: justify;
  line-height: 145%;
  font-weight: 300;
  font-size: 90%;
}

.section-meals .meals-showcase {
  list-style: none;
  width: 100%;
}

.section-meals .meals-showcase li {
  width: 25%;
  float: left;
}

.section-meals .meals-showcase li .meals-photo {
  width: 100%;
  display: block;
  background-color: #000;
  overflow: hidden;
}

.section-meals .meals-showcase li .meals-photo img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 0.7;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.section-meals .meals-showcase li .meals-photo img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 1;
}

.section-how-it-works {
  padding: 80px 0;
  background-color: #f4f4f4;
}

.section-how-it-works h2 {
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 180%;
  font-weight: 300;
}

.section-how-it-works h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.section-how-it-works .steps-box {
  float: left;
  padding: 0 3%;
}

.section-how-it-works .steps-box .omnifood-app {
  width: 40%;
  height: auto;
  margin-right: 0;
  float: right;
}

.section-how-it-works .step-list .work-step {
  margin-bottom: 50px;
  font-weight: 300;
}

.section-how-it-works .step-list .work-step:nth-child(3) {
  margin-bottom: 80px;
}

.section-how-it-works .step-list .app-btn img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.section-how-it-works .step-list .point {
  border: 2px solid #e67e22;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 5px;
  color: #e67e22;
  font-size: 150%;
  float: left;
  margin-right: 25px;
}

.section-cities {
  padding: 80px 0;
}

.section-cities h2 {
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 180%;
  font-weight: 300;
}

.section-cities h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.section-cities .city-box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  padding: 1%;
}

.section-cities .city-box h3 {
  letter-spacing: 1px;
  word-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 110%;
  font-weight: 300;
}

.section-cities .city-box .city-features {
  font-weight: 300;
}

.icon-small {
  color: #e67e22;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: -8px;
  margin-right: 20px;
}

.section-testimonials {
  padding: 80px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/img/back-customers.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/back-customers.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.section-testimonials .row h2 {
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 180%;
  font-weight: 300;
}

.section-testimonials .row h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.section-testimonials .row .col blockquote {
  font-style: italic;
  font-weight: 300;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

.section-testimonials .row .col blockquote:before {
  content: "\0022";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -20px;
  left: -25px;
}

.section-testimonials .row .col blockquote cite {
  display: block;
  margin-top: 25px;
  font-size: 90%;
}

.section-testimonials .row .col blockquote cite img {
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.section-sign-up {
  padding: 80px 0;
  background-color: #f4f4f4;
}

.section-sign-up .row h2 {
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 180%;
  font-weight: 300;
}

.section-sign-up .row h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.plan-box {
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px #efefef;
          box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div ul {
  list-style: none;
}

.plan-box div ul li {
  padding: 5px;
  color: grey;
}

.plan-box div:last-of-type {
  text-align: center;
  border: none;
}

h3 {
  letter-spacing: 1px;
  word-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 110%;
  font-weight: 300;
}

.plan-price {
  color: #e67e22;
  font-size: 400%;
}

.plan-price span {
  font-size: 25%;
}

.plan-price-comment {
  color: grey;
  font-size: 90%;
}
/*# sourceMappingURL=style.css.map */