@import "variable";
@import "mixins";

//---clearfix------//
.clearfix {
    zoom: 1;

    &:after {
        content: '.';
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-size: 20px;
    color: #000;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        @include h1style;
        margin-bottom: 20px;
    }

    .btn {
        @include btn;
    }

    .btn-full {
        background-color: $orange;
        transition: background-color 0.2s;
        margin-right: 15px;

        &:hover {
            background-color: $darkorange;
        }
    }

    .btn-ghost {
        color: $orange;
        transition: background-color .2s;

        &:hover {
            background-color: $darkorange;
            color: #fff;
        }
    }
}

.row {
    max-width: 1140px;
    margin: 0 auto;

    .logo {
        height: 100px;
        width: auto;
        float: left;
        margin-top: 20px;
    }

    .main-nav {
        list-style: none;
        margin-top: 55px;
        float: right;

        li {
            display: inline-block;
            margin-left: 40px;

            a {
                @include navlinks;
            }
        }
    }
}

.section-features {
    padding: 80px 0;

    h2 {
        @include h2style;

        &:after {
            display: block;
            height: 2px;
            background-color: #e67e22;
            content: " ";
            width: 100px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }

    .icon-big {
        font-size: 330%;
        display: block;
        color: #e67e22;
        margin-bottom: 20px;
        text-align: center;
    }

    h3 {
        @include h3style;
    }

    .long-copy {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 35px;
        line-height: 145%;
    }

    .box {
        text-align: justify;
        line-height: 145%;

        font: {
            weight: 300;
            size: 90%;
        }

    }

}

.section-meals {

    .meals-showcase {
        list-style: none;
        width: 100%;

        li {
            width: 25%;
            float: left;

            .meals-photo {
                width: 100%;
                display: block;
                background-color: #000;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    transform: scale(1.15);
                    opacity: 0.7;
                    transition: transform 0.5s, opacity 0.5s;

                    &:hover {
                        transform: scale(1.03);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.section-how-it-works {
    padding-top: 20px;
    background-color: #f4f4f4;
    h2 {
        @include h2style;

        &:after {
            display: block;
            height: 2px;
            background-color: #e67e22;
            content: " ";
            width: 100px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }

    .steps-box {
        float: left;
        padding: 0 3%;

        .omnifood-app {
            width: 40%;
            height: auto;
            margin-right: 0;
            float: right;
        }
    }

    .step-list {
        .work-step {
            margin-bottom: 50px;
            font-weight: 300;

            &:nth-child(3) {
                margin-bottom: 80px;
            }


        }

        .app-btn img {
            height: 50px;
            width: auto;
            margin-right: 10px;
        }

        .point {
            border: 2px solid $orange;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            text-align: center;
            padding: 5px;
            color: $orange;
            font-size: 150%;
            float: left;
            margin-right: 25px;
        }
    }
}